<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Section</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {% include 'navbar.html' %}
    {% block head %}
    {% endblock %}
    <!-- Main Blog Section -->
    <section id="blog">
        <div class="blog-head">
            <span>Our Blog</span>
            <h3>Latest News & Articles</h3>
        </div>
        <div class="blog-container">
            <div class="blog-box">
                <div class="blog-img">
                    <img src="https://images.pexels.com/photos/112811/pexels-photo-112811.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog Image">
                </div>
                <div class="blog-text">
                    <span>2 May, 2023</span>
                    <a href="#" class="blog-title">The Benefits of Remote Work</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="https://images.pexels.com/photos/1766604/pexels-photo-1766604.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog Image">
                </div>
                <div class="blog-text">
                    <span>15 April, 2023</span>
                    <a href="#" class="blog-title">Top 10 Tips for Effective Time Management</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="https://images.pexels.com/photos/3184435/pexels-photo-3184435.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog Image">
                </div>
                <div class="blog-text">
                    <span>30 March, 2023</span>
                    <a href="#" class="blog-title">How to Stay Productive While Working from Home</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
    {% block down %}
    {% endblock %}
</body>
</html>
