{% include 'navbar.html' %}
{% block head %}
{% endblock %}
<main>
    <section>
        <center>
            {% for flash in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>{{ flash }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </center>
        <center>
            <h2>Get in Touch</h2>
        </center>
        <form action="/aftercontact" method="post" class="contact-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            <center>
                <br>
                <button type="submit">Submit</button>
            </center>
        </form>
    </section>
</main>
{% include 'footer.html' %}
{% block down %}
{% endblock %}
