<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calmAI</title>
    <link rel="stylesheet" href="styles.css">
     <!-- <link rel="icon" href="{{url_for('static', filename='calmai-favicon-white.png')}}" type="image/x-icon"> -->
     <link rel="shortcut icon" href="{{url_for('static', filename='calmai-favicon-white.png')}}" type="image/x-icon">
</head>
<body>
    {% include 'navbar.html' %}
    {% block head %}
    {% endblock %}
    <main>
        <section class="hero">
            <div class="hero-text">
                <h1>Welcome to CalmAI</h1>
                <p>Empowering your mental well-being with AI technology.</p>
            </div>
        </section>
        <section class="intro">
            <h2>Our Mission</h2>
            <p>
                At calmAI, we are dedicated to providing accessible and personalized mental health support through advanced AI technology.
                Our goal is to create a compassionate and supportive environment for everyone.
            </p>
        </section>
        <section class="highlights">
            <div class="highlight">
                <a href="/chatbot">
                    <img src="{{url_for('static', filename='chatbot.jpg')}}" alt="AI Chat Support">
                </a>
                <h3>24/7 AI Chat Support</h3>
                <p>Connect with our AI chat support anytime, anywhere.</p>
            </div>
            <div class="highlight">
                <img src="{{url_for('static', filename='mental health.jpg')}}" alt="Mental Health Resources">
                <h3>Mental Health Resources</h3>
                <p>Access a wealth of information and resources to help you on your journey.</p>
            </div>
            <div class="highlight">
                <img src="{{url_for('static', filename='self-assess.jpg')}}" alt="Personalized Self-Assessment">
                <h3>Personalized Self-Assessment</h3>
                <p>Understand yourself better with our personalized self-assessment tools.</p>
            </div>
            <div class="highlight">
                <img src="{{url_for('static', filename='care.jpg')}}" alt="Wellness Activities">
                <h3>Wellness Activities and Tips</h3>
                <p>Discover activities and tips to improve your mental well-being.</p>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
    {% block down %}
    {% endblock %}
</body>
</html>
