{% include 'navbar.html' %}
{% block head %}
{% endblock %}
    <main>
        <section>
            <center>
                <h2>Login to Your Account</h2>
                <h4 style="color: red;">{{message}}</h4>
            </center>
            <form action="/login" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <center>
                    <button type="submit">Login</button>
                    <p>Forgot Password? <a href="/reset">Reset</a> <br>New User, <a href="/signup">Signup</a></p>
                </center>
                
            </form>
        </section>
    </main>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            alert('Logged in successfully.');
            document.getElementById('loginForm').reset();
        });
    </script>
{% include 'footer.html' %}
{% block down %}
{% endblock %}
