<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    {% block head %}
    {% endblock %}
    <div id="note-app">
                <form action="/add_note" method="POST">
                    <h2>Write a Note</h2>
                    <textarea id="note-input" name="note" placeholder="Express your thoughts here..."></textarea>
                    <button type="submit">Save Note</button>
                </form>
            </div>
        </div>
        <div class="notes-list" id="notes-list">
            <center>
                <h2>Your Notes</h2>
            </center>
        </div>
        <div id="notes-list">
            {% if note %}
                <div class="note">
                    <p>{{ note[0] }}</p>
                    <p>{{ note[1] }}</p>
                    <form action="/delete_note" method="POST" style="display:inline;">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                </div>
            {% else %}
                <center>
                <p>No Previous Notes Found</p>
                </center>
            {% endif %}
        </div>
    </div>
    {% include 'footer.html' %}
    {% block down %}
    {% endblock %}
</body>
</html>
