<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    {% block head %}
    {% endblock %}
    <div id="note-app" class="container">
        <div class="note-container">
            <form action="/add_note" method="POST">
                <h2>Write a Note</h2>
                <textarea id="note-input" name="note" placeholder="Express your thoughts here..."></textarea>
                <br>
                <center>
                    <button type="submit">Save Note</button>
                </center>
            </form>
        </div>
    </div>
    <div class="notes-list" id="notes-list">
        <center>
            <h2>Your Notes</h2>
        </center>
        {% if note %}
        {% for notes in note %}
            <div class="note">
                
                <span class="note-content">{{ notes[1] }}</span>
                
                <form action="/delete_note" method="POST" >
                    <input name="ids" value={{notes[0]}} type="hidden">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
                
            </div>
            {% endfor %}
        {% else %}
            <center>
                <p>No Previous Notes Found</p>
            </center>
        {% endif %}
    </div>
    {% include 'footer.html' %}
    {% block down %}
    {% endblock %}
</body>
</html>
