<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Gallery</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='calmai-favicon-white.png')}}" type="image/x-icon">
</head>
<body>
    {% include 'navbar.html' %}
    {% block head %}
    {% endblock %}
    <!-- Main Video Gallery Section -->
    <section id="videos">
        <div class="video-head">
            <span>Videos</span>
            <h3>To relax you mind</h3>
        </div>
        <div class="video-container">

            <!-- Video 1 -->
            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rkZl2gsLUp4?si=GUBfnttJ-fiQx901" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-text">
                    <!-- <span>5 August, 2024</span> -->
                    <a href="https://www.youtube.com/watch?v=rkZl2gsLUp4" class="video-title">How to manage Mental Health</a>
                </div>
            </div>

            <!-- Video 2 -->
            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DxIDKZHW3-E?si=idYd5ykhuWDZ1Ku5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-text">
                    <!-- <span>10 August, 2024</span> -->
                    <a href="https://www.youtube.com/watch?v=DxIDKZHW3-E" class="video-title">We All have Mental Health</a>
                </div>
            </div>

            <!-- Video 3 -->
            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/p3uYG17WUig?si=bkOXctRQ24ulSycu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-text">
                    <!-- <span>15 August, 2024</span> -->
                    <a href="https://www.youtube.com/watch?v=p3uYG17WUig" class="video-title">Podcast on Mental Health</a>
                </div>
            </div>

            <!-- Add more video boxes as needed -->
            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lQhpetkwWnM?si=l-tOJ0KSwgUo-GB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-text">
                    <!-- <span>15 August, 2024</span> -->
                    <a href="https://www.youtube.com/watch?v=lQhpetkwWnM" class="video-title">Mental Health - Depression</a>
                </div>
            </div>

            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/j0_0O-FmLtc?si=ron-0d5Z41Hkbsbe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-text">
                    <!-- <span>15 August, 2024</span> -->
                    <a href="https://www.youtube.com/watch?v=j0_0O-FmLtc" class="video-title">Tips to Improve you Mental Health</a>
                </div>
            </div>

            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wOGqlVqyvCM?si=uPHrCdh4vzGBulkw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-text">
                    <!-- <span>15 August, 2024</span> -->
                    <a href="https://www.youtube.com/watch?v=wOGqlVqyvCM" class="video-title">SadhGuru on Mental Health</a>
                </div>
            </div>

            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qN8fzqw1WAk?si=ZZnL46uxUSY2_UgM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-text">
                    <!-- <span>15 August, 2024</span> -->
                    <a href="https://www.youtube.com/watch?v=qN8fzqw1WAk" class="video-title">Learn about Mental Health</a>
                </div>
            </div>

            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5bNI_NloNa8?si=kkN7IGjbsdCqMdLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-text">
                    <!-- <span>15 August, 2024</span> -->
                    <a href="https://www.youtube.com/watch?v=5bNI_NloNa8" class="video-title">10 Signs of Mental Health </a>
                </div>
            </div>

            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/IojUFDLZmzg?si=zL8O5S3xW9RkmW2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-text">
                    <!-- <span>15 August, 2024</span> -->
                    <a href="https://www.youtube.com/watch?v=IojUFDLZmzg" class="video-title">Improve Your Mental Health</a>
                </div>
            </div>
        </div>
        <center>
            <a href="https://www.youtube.com/results?search_query=mental+health+" target="_blank"><button>Watch More...</button></a>
        </center>
    </section>
    {% include 'footer.html' %}
    {% block down %}
    {% endblock %}
</body>
</html>